* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: black;
}

a {
  font-weight: 600 !important;
  color: black !important;
}

.heroTitle {
  font-size: 4rem;
}

.boxgradient {
  background: hsla(191, 88%, 81%, 1);

  background: linear-gradient(
    45deg,
    hsla(191, 88%, 81%, 1) 0%,
    hsla(260, 72%, 82%, 1) 50%,
    hsla(247, 73%, 69%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(191, 88%, 81%, 1) 0%,
    hsla(260, 72%, 82%, 1) 50%,
    hsla(247, 73%, 69%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(191, 88%, 81%, 1) 0%,
    hsla(260, 72%, 82%, 1) 50%,
    hsla(247, 73%, 69%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#A4E9F9", endColorstr="#C5AEF2", GradientType=1 );
}

.icon {
  font-size: 35px !important;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
}

.secondsec {
  border-radius: 100px;
}

.certificate {
  font-size: 100px !important;
  padding: 20px;
  border-radius: 25px;
}
